@import 'https://fonts.googleapis.com/css?family=Roboto';


.navbar .navbar-header a:hover, .navbar .navbar-header a:focus,  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus   {
    background: white;
    color: black;
    outline: none;

}

/* Navbar */
.navbar {
    opacity: 0.95;
    overflow: none;
    background: #212121;
}

.navbar .navbar-nav li a, .navbar .navbar-brand {
    color: white;
}

.navbar-nav li {
    padding-left: 10vw;
}



/* Bulk of site */

body {
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    background-color: #212121;
    padding-top: 65px;
    color: white;
}

.background-cutout {
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


/* Sections */
.pic {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section {
    padding-top: 150px;
    background-color: whitesmoke;
    color: black;
    margin-bottom: 80px;
    padding: 20px;
}

.social {
    padding: 10px;
    text-align: center;
}

.social-text {
    font-size: 20px;
    color: black;
    margin-left: 10px;
    display: inline;
}