@import 'https://fonts.googleapis.com/css?family=Roboto';


/* Navbar */
.navbar {
    opacity: 0.955;
    box-shadow: 0 2px 15px grey;
    overflow: none;
    
    background: black;
   
}

.navbar .navbar-brand {
    color:white;
}

.navbar .navbar-nav li a {
 color:white;
}

.navbar-nav li {
    padding-left: 3vw;
    overflow: none;
}

/* Bulk of site */

body {
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    background-color: #212121;
    padding-top: 65px;
    color: white;
}

.background-cutout {
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


/* Sections */
.pic {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section {
    background-color: white;
    color: black;
    margin-bottom: 80px;
    padding: 20px;
}

.social {
    padding: 10px;
    text-align: center;
}

.social-text {
    font-size: 20px;
    color: black;
    margin-left: 10px;
    display: inline;
}